<header class="site-header pt-5">
    <div class="logo text-center">
        <a href="{{site.baseurl}}/"><img
                src="assets/img/next-gens.png"
                alt=""></a>
    </div>
    <nav class="navbar navbar-expand-md pt-4">
        <div class="container-fluid">
            <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 text-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{site.baseurl}}/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ 'privacy-policy' | relative_url }}">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>